.nicescroll-rails{z-index:9999!important};
.centered {
    text-align: center;
}
.pt {
    padding-bottom: 50px;
    padding-top: 50px;
}
.mt {
    margin-bottom: 40px;
    margin-top: 40px;
}
.progress {
    height: 20px !important
}
.progress-bar {
    font-size: 15px !important;
    line-height: 15px !important;
    padding-top: 2px;
}
#portfolio img {
    max-height: 239px;
    max-width: 360px;
}
.border-radius{
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
.cursor-pointer {
    cursor: pointer;
}
#github-graph {
    background-color: #ffffff;
    border: 1px solid #e0ded7;
    height: 300px;
    width: 100%;
    overflow: auto;
}