.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
    background-color: #18bc9c !important;
    border-color: #18bc9c!important;
}
.cursor-pointer {
    cursor: pointer;
}

.draghover {
    background-color:  #18bc9c !important;
}
.drag:hover, .editable:hover {
    cursor: pointer;
    background-color:  #18bc9c !important;
}

table#backlink textarea, table#prestation textarea,table#skill textarea, table#media textarea {
    max-height: 50px;
    width: 100%
}

table#cv img, table#media img {
    max-height: 90px;
    width: auto;
}

.icon-select {
    min-width: 200px;
}

.media-photo img {
    max-height: 100px;
}
.media-photo img:hover {
    cursor: pointer;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #18bc9c !important;
}

