.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
    background-color: #18bc9c !important;
    border-color: #18bc9c!important;
}
#unseen {
    padding-bottom: 50px;
}
#global-loader {
    position : fixed;
    left : 50%;
    top : 50%;
    text-align : center;
    z-index : 11000;
    padding: 20px 20px 20px 20px;
}
.cursor-pointer {
    cursor: pointer;
}

.draghover {
    background-color:  #18bc9c !important;
}
.drag:hover, .editable:hover, .editableDate:hover {
    cursor: pointer !important;
    background-color:  #18bc9c !important;
}

table#page textarea, table#media textarea, table#reference textarea {
    max-height: 50px;
    width: 100%
}

table#media img,table#reference img  {
    max-height: 90px;
    width: auto;
}

.icon-select {
    min-width: 200px;
}
#medias img {
    max-height: 100px;
    min-height: 100px;
}
#medias img.thumbnail {
    cursor: pointer;
}
#medias img.thumbnail:hover,
#medias img.thumbnail:focus,
#medias img.thumbnail.active {
    border-color: #18bc9c !important;
}
img.media {
    /*max-height: 600px;*/
    max-width: 600px;
}


.selectAll {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding-left: 10px;
}
.selectAll input[type="checkbox"]{
    margin-top: 10px;
}


.has-switch > div.switch-on label {
    background-color: #18bc9c!important;
}

