@font-face {
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    src: local('Ruda'), url('[HOSTNAME]application/views/backoffice/assets/fonts/XOnvFWI36RNlu_0zaCpNkw.woff') format('woff');
}
@font-face {
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 700;
    src: local('Ruda Bold'), local('Ruda-Bold'), url('[HOSTNAME]application/views/backoffice/assets/fonts/NqfDiXLAov4H5k-m4LIQuQ.woff') format('woff');
}
@font-face {
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 900;
    src: local('Ruda Black'), local('Ruda-Black'), url('[HOSTNAME]application/views/backoffice/assets/fonts/62f-GUHoRIA5Xaf0fgZolw.woff') format('woff');
}
